
.bs-logo:before {content: "\002f";}
.bs-hairdresser:before {content: "\0034";}
.bs-manicure:before {content: "\0035";}
.bs-cosmetology:before {content: "\0036";}
.bs-makeup:before {content: "\0037";}
.bs-massage:before {content: "\0038";}
.bs-sundry:before {content: "\0039";}